/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);*/


/*************************
*******Typography******
**************************/

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
}

h1{
  font-size: 36px;
  color:#fff;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #c52d2f;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

.btn-primary {
  padding: 8px 20px;
  background: #2E5326;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}

.btn-primary.disabled {
  background-color: #95A75F;
  border-color: #357EBD;
}

.btn-primary:hover, 
.btn-primary:focus{
  background: #95A75F;
  color: #000;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 250px;
  max-height: 300px;  
  overflow-y:scroll;
  overflow-x:hidden;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 35px 0;
}

.center {
  text-align: center;
  padding-bottom: 40px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/

#header .search{
  display: inline-block;
}

.navbar>.container .navbar-brand{
  margin-left: 0;
}

.top-bar {
  padding: 0px 0;
  background: #95A75F;
  border-bottom: 1px solid #95A75F;
  line-height: 28px;
}

.top-number h4, .page-number h4{
  color: #fff;
  /*white-space: nowrap;
  text-transform: uppercase;
    font-size: 17px;*/
}

.top-number p, .page-number p{
  margin: 0
}

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #fff;
  padding: 10px 0;
  padding-bottom: 10px;
}

#course-nav .navbar {
  background: #2E5326;
  border-top: 8px solid #95A75F;
}

.navbar-nav{
  margin-top: 12px;
}

.navbar-nav>li{
  margin-left: 15px;
 /* padding-bottom: 28px;*/
}

#header .navbar-inverse .navbar-nav > li > a {
  background-color: #2E5326;
}

#header .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #95A75F;
  color:#000;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #F7D5A7;
  line-height: 24px;
  display: inline-block;  
  /*background-color: #424242;*/
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #95A75F;
  color: #000;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  /*background-color: #c52d2f;*/
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: -32px;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
  white-space: normal;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}

/* Custom Code START */

/* For Prevent collapse menu code START LOGP*/

.navbar-collapse {
  box-shadow: none;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  /*float: right!important;*/
}

.navbar-toggle {
  display: none;
}

.btn-default.disabled {
  background-color: #F9F9F9;
  color: #000;
}

.btn-info {
  color: #FFF;
  background-color: #2e5326;
  border-color: #616C71;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  color: #FFF;
  background-color: rgb(149, 167, 95);
  border-color: rgb(46, 83, 38);
}

/* For Prevent collapse menu code END LOGP*/

#loading-indicator {
  min-height: 360px;
  position: relative;
  text-align: center;
}

#loading-indicator i {
  position: absolute;
  top: 100px;
}

.xmlcontent {
  min-height: 360px;
  font-size: 16px;
  line-height: 25px;
}

#blog .blog {
  min-height: 360px;
}

#course-nav {
  padding: 0px;
}

.navbtn {
  width: 31px;
  height: 53px;
  position: absolute;
  top:50%;
  margin: auto;
  outline: 0;
  /*background-color: rgba(0,0,0,.4);*/
  color: transparent;
  cursor: pointer;
}

.navbtn:hover {
  /*background-color: rgba(0,0,0,0.8);*/
}

.modal-dialog {
  margin: 0 auto;
  top: 25%;
}

.modal-body {
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#myModalBookMark .modal-body {  
  overflow-y: hidden;
}

#myModalRes .modal-body ul {
  list-style: none;
}

#myModalMenu .modal-body {
 /* background-color: #2FADDE;*/
}

#bookmark-body {
  text-align: center;
  min-height: 120px;
}

#bookmark-body button {
  margin-left: 8px;
}

#course-nav .navbar-nav>li{
  padding-bottom: 28px;
}

.xmlcontent h2 {
  padding-bottom: 10px;
}

.fontinc li a {
  background-color: #C52D2F;
  border-radius: 15px;
  font-size: 20px;
  padding: 6px;
  margin: 18px 5px;
  color: black;
}

.fontinc > li, .fontinc {
    float: left !important;
}

.radio, .checkbox {
  margin-bottom: 25px;
}

label {
  font-weight: normal;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

input[type="radio"], input[type="checkbox"] {
  margin: 4px 10px 0;
  display:inline-block;
  -webkit-transform:scale(1.5);
  -moz-transform:scale(1.5);
  transform:scale(1.5);
}

/*****************   For Template Style Sheet Goes Here   ****************** */

/*video {
  max-width:640px;
  max-height:480px; 
  border:4px solid grey; 
  background-color:grey;
}*/

.automargin {
  margin: 0 auto;
}

.center-nobottom {
  text-align: center;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

#myModalAssInst .modal-body {
  overflow-y:auto;
}

/* Custom Code END */

/*************************
********* Portfolio CSS ******
**************************/

#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}

.portfolio-items, 
.portfolio-filter {
  list-style: none outside none;
  /*margin: 0 0 10px 40px;
  padding: 0;*/
}

.portfolio-filter > li {
  margin: 5px;  
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #2E5326;
  color: #fff;
  /* font-size: 14px;*/
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#000;
  background: #95A75F;
  border: 1px solid #616C71;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/******************
shortcodes page css
******************/

.shortcode-item {
  padding-bottom: 0;
}

.shortcode-item h2 {
  color: #4E4E4E;
  font-size: 24px;
  margin-bottom: 22px;
  margin-top: 0;
  font-weight: 600
}

video {
  object-fit: fill;
  background-image: transparent;
  border: none;
  width: 100%    !important;
  height: auto   !important;
  background:transparent url('../images/poster.png') 50% 50% / cover no-repeat ; 
  -webkit-background-size:cover; 
  -moz-background-size:cover; 
  -o-background-size:cover; 
  background-size:cover; 
}
